doctype html

html
	head
		meta(charset='utf-8')
		link(rel='stylesheet' href='index.css')
	body
		nav.navbar
			h1.header Game Backlogs
			div Sign In
		section
			div.search-component
				input(type='text' name='value').search-bar
				div.search-button Search

		script(src='build.js')