doctype html

html
	head
		meta(charset='utf-8')
		link(rel='stylesheet' href='index.css')
	body
		nav.navbar
			h1.navbar-header Game Backlogs
				a(href='#sign-in')
					div.sign-in-link Sign In
		main.main-content
			div.search-view
				div.search-component
					div
						input.search-input(type='text' name='value')
						button.search-button Search
					div.search-results
					div.search-controls
						div.button.button-disabled.previous Previous
						div.button.button-disabled.next Next
			div.login-view.display-none
				h2 Sign In
				div
					label Username
					input.username(type='text')
					br
					label Password
					input(type='password')
					br
					button.login-button Login

				a(href='#search') Back to search
			div.profile-view.display-none
				This is where your favorited games are listed
		script(src='build.js')