doctype html

html
	head
		meta(charset='utf-8')
		link(rel='stylesheet' href='index.css')
	body
		nav.navbar
			h1.navbar-header Game Backlogs
				div.sign-in-link Sign In
		main
			div.search-component
				div
					input.search-input(type='text' name='value')
					button.search-button Search
				div.search-results
		script(src='build.js')