$navbar-height: 80px;
$primary-color: green;
$text-color: white;

$section-spacing: 20px;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}

.navbar {
	height: $navbar-height;
	background-color: $primary-color;
	margin-bottom: $section-spacing;
}

.navbar-header {
	font-size: 36px;
	color: $text-color;
	text-align: center;
	line-height: $navbar-height;
}

.sign-in-link {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 20px;
	cursor: pointer;
}

.main-content {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.search-input {
	width: 80%;
}

.search-button {
	width: 20%;
}

.search-results {
	margin-bottom: $section-spacing;
}


.search-controls {
	display: flex;
	justify-content: space-between;
	margin-bottom: $section-spacing;
}

.button {
	padding: 20px;
	width: 130px;
	text-align: center;
	color: white;
	background-color: green;
	cursor: pointer;
}

.button-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.display-none {
	display: none;
}